[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
requests = "*"
python-dotenv = "*"
armaconfig-py = {editable = true,git = "https://github.com/SigJig/armaconfig.py.git"}
pboutil = {editable = true,git = "https://gitlab.com/SigJig/pboutil.git",ref = "file-context-manager"}

[requires]
python_version = "3.8"
